<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="fragment/Header :: head"></th:block>
<title>Editar Profesional</title>
</head>
<body>
	<header>
 		<th:block th:replace="fragment/Menu :: menu"></th:block>
	</header>
	
<section class="fondo d-flex flex-column">
		<section class="formCapacitacion"> 
			<h1 class="text-center">Editar Cliente</h1>
			<form th:action="@{/ListarCliente/{id}(id=${cliente.id})}" th:object="${cliente}" method="POST" id="form" >
				<div class="d-flex flex-column align-items-center">
					<input type="hidden" th:field="*{id}" />
					<div class="nombre">
						<label class="form-label">Nombre</label>
						<input class="form-control" type="text"  th:field="*{nombre}" id="nombre" required>
						<p class="msjError text-danger"></p>
					</div>
					<div class="apellido">
						<label class="form-label">Apellido</label>
						<input class="form-control" type="text"  th:field="*{apellido}" id="apellido" required>
						<p class="msjError text-danger"></p>
					</div>
					<div class="rut">
						<label class="form-label">RUT</label>
						<input class="form-control" type="text"   name="rut" th:field="*{username}"id="rut">
						<div class="form-text">El rut no debe superar los 9 dígitos.</div>
						<p class="msjError text-danger"></p>
					</div>
					<div class="razonSocial">
						<label class="form-label">Razón social: </label>
						<input class="form-control" type= "text" th:field="*{razonSocial}"id="razonSocial">
						<p class="msjError text-danger"></p>
					</div>
					<div class="rut">
						<label class="form-label">RUT de la empresa</label>
						<input class="form-control" type="text"   name="rutCliente" th:field="*{rutCliente}"id="rut">
						<div class="form-text">El rut no debe superar los 9 dígitos.</div>
						<p class="msjError text-danger"></p>
					</div>
					<div class="telefono">
						<label class="form-label">Telefono: </label>
						<input class="form-control" type="text"   name="telefono"  th:field="*{telefono}" id="telefono">
				
						<p class="msjError text-danger"></p>
					</div>
					<div class="afp">
      				<label class="form-label" for="afp">AFP:</label>
					<input class="form-control" type="text" placeholder="Ingrese la AFP afiliada" name="afp"th:field="*{afp}"id="afp">
					<p class="msjError text-danger"></p>
      				</div>
      				<div class="sistemaSalud">
      					<label class="form-label" for="sistemaSalud">Sistema de salud:</label>
						<select id="tipoUsuario" name="sistemaSalud" th:field="*{sistemaSalud}" class="form-control" required>	
							<option th:value="despliegue" selected></option>
							<option th:value="Fonasa"  >Opcion 1 Fonasa</option>
							<option th:value="Isapre" >Opcion 2 Isapre</option>
						</select>
						<p class="msjError text-danger"></p> 
      				</div>
      				<div class="direccion">
      					<label class="form-label" for="direccionCliente" >Direccion:</label>
						<input class="form-control" type="text" placeholder="Ingrese su direccion de domicilio" name="direccionCliente" th:field="*{direccionCliente}"id="direccion">
						<p class="msjError text-danger"></p> 
      				</div>
      				<div class="comuna">
      					<label class="form-label" for="comunaCliente" >Comuna:</label>
						<input class="form-control" type="text" placeholder="Ingrese la comuna" name="comunaCliente" th:field="*{comunaCliente}"id="comuna">
						<p class="msjError text-danger"></p> 
      				</div>
      				<div class="edad">
      					<label class="form-label" for="edad">Edad:</label>
						<input class="form-control" type="number" placeholder="Ingrese su edad" name="edad" th:field="*{edad}" id="edad">
						<p class="msjError text-danger"></p> 
      				</div>
					
					
					
					
				</div>
			
				
				<div class="d-flex justify-content-center mt-5 gap-5 botones">
					<button class="btn  "type="submit">Enviar</button>
					<button class="btn "type="reset">Borrar</button>
				
				</div>
			
			</form>
		</section>
	<div class="volver mb-5 d-flex justify-content-center">
		<a th:href="@{/}">Volver a página de inicio</a>
	</div> 

</body>
</html>