<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="fragment/Header :: head"></th:block>
<title>Editar Capacitacion</title>
</head>
<body>
	<header>
 		<th:block th:replace="fragment/Menu :: menu"></th:block>
	</header>
	
<section class="fondo d-flex flex-column">
		<section class="formCapacitacion"> 
			<h1 class="text-center">Editar capacitación</h1>
			<form th:action="@{/ListaCapacitacion/{id}(id=${capacitacion.id})}" th:object="${capacitacion}" method="POST" id="form" >
				<div class="d-flex flex-column align-items-center">
					<input type="hidden" th:field="*{id}" />
					<div class="nombre">
						<label class="form-label">Nombre de la capacitacion</label>
						<input class="form-control" type="text"  th:field="*{nombre}" id="nombre" required>
						<p class="msjError text-danger"></p>
					</div>
					<div class="detalle">
						<label class="form-label">Detalle </label>
						<input class="form-control" type="text"   name="detalle" th:field="*{detalle}"id="detalle">
						<p class="msjError text-danger"></p>
					</div>
					<div class="rutCliente">
						<label class="form-label">Rut del Cliente:</label>
						<input  class="form-control" type="number"name="rutCliente" th:field="*{rutCliente}" id="rutCliente" required>
						<div class="form-text">El rut no debe superar los 9 dígitos.</div>
						<p class="msjError text-danger"></p>
					</div>
					<div class="dia">
						<label class="form-label">Día: </label>
						<input class="form-control" type=  th:field="*{dia}"id="dia">
						<div class="form-text">Días: Lunes, Martes, Miercoles, Jueves, Viernes, Sabado y Domingo</div>
						<p class="msjError text-danger"></p>
					</div>
					<div class="hora">
						<label class="form-label">Hora: </label>
						<input class="form-control" type="time"   name="hora"  th:field="*{hora}" id="hora">
						<div class="form-text">Horario disponible de L-D: 09:00 AM a 21:00 PM</div>
						<p class="msjError text-danger"></p>
					</div>
					<div class="lugar">
						<label class="form-label">Lugar:</label>
						<input class="form-control" type="text" name="lugar" th:field="*{lugar}" id="lugar" required>
						<div class="form-text">Solo Disponible en Chile</div>
						<p class="msjError text-danger"></p>
					</div>
					<div class="duracion">
						<label class="form-label">Duracion:</label>
						<input class="form-control" type="number"  name="duracion" th:field="*{duracion}" id="duracion">
						<p class="msjError text-danger"></p>
					</div>
					<div class="cantidadAsistentes">
						<label class="form-label">Cantidad de asistentes:</label>
						<input class="form-control" type="number"  name="cantidadAsistentes" th:field="*{cantidadAsistentes}" id="cantidadAsistentes" required>
						<div class="form-text">Máximo 1000 asistentes Mínimo 1</div>
						<p class="msjError text-danger"></p>
					</div>
					
					
					
					
				</div>
			
				
				<div class="d-flex justify-content-center mt-5 gap-5 botones">
					<button class="btn  "type="submit">Enviar</button>
					<button class="btn "type="reset">Borrar</button>
				
				</div>
			
			</form>
		</section>
	<div class="volver mb-5 d-flex justify-content-center">
		<a href="Index.jsp">Volver a página de inicio</a>
	</div> 

</body>
</html>