<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="fragment/Header :: head"></th:block>
<title>Inicio Hand Solo Asesorias</title>
</head>
<body>
	<header>
 		<th:block th:replace="fragment/Menu :: menu"></th:block>
	</header>
	<main>
	<section class="fondoMain d-flex">
		<section>
			<h1>Asesorias y Capacitaciones Hand Solo</h1>
		</section>
		
	</section>
	<section class="infoEmpresa d-flex flex-column">
		<h3>Sobre nosotros
		</h3>
		<p>Hand Solo es una empresa que brinda asesorías y capacitaciones a empresas en cuanto a prevención de riesgos laborales ofrecer una solución completa en prevención de riesgos para las
empresas a un costo razonable, cumpliendo estrictamente todos los procesos necesarios para
dar cumplimiento a la normativa vigente, mejorando los ambientes de trabajo, la
productividad, contribuyendo a un ahorro económico.</p>
	</section>
	<section class="opciones d-flex flex-column">
		<h2>Elige la opción de lo que deseas realizar</h2>
	
			<button class="btn btnInicio"type="submit"><a  th:href="@{/menu_capacitacion}">Capacitaciones</a> </button>
			<button class="btn btnInicio"type="submit"><a  th:href="@{/menu_profesional}">Usuario Profesional</a> </button>
			<button class="btn btnInicio"type="submit"><a  th:href="@{/menu_admin}">Usuario Administrativo</a> </button>
			<button class="btn btnInicio"type="submit"><a  th:href="@{/menu_cliente}">Usuario Cliente</a> </button>
		
		<button class="btn btnInicio"><a th:href="@{/Contacto}">Solicitar contacto</a></button>
	</section>


</main>

</body>
</html>
