<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="fragment/Header :: head"></th:block>
<title>Lista de Usuarios</title>
</head>
<body>
	<header>
		<th:block th:replace="fragment/Menu :: menu"></th:block>
	</header>
	<h3 class="text-center p-2">Lista de Usuarios Registrados</h3>

        <section class="fondo d-flex container-fluid justify-content-center p-5 vh-100 flex-column">

            <div class="listCapacitacion d-flex  bg-white rounded-1 p-5 ">

                <div class="container-fluid">
					<table class="table">
  						<thead>
   							<tr>
      							<th scope="col">Id</th>
      							<th scope="col">Nombre</th>
      							<th scope="col">Apellido</th>
      							<th scope="col">RUT</th>
      							<th scope="col">Rol</th>	
      							<th scope="col">Acciones</th>
      							
   							</tr>
  						</thead>
  						<tbody>
    						<tr th:each="usuario :${listaUsuario}">
      							<th scope="row" th:text="${usuario.id}">Id</th>
      							<td th:text="${usuario.nombre}">Nombre</td>
      							<td th:text="${usuario.apellido}">Apellido</td>
      							<td th:text="${usuario.rut}">RUT</td>
     							<td th:text="${usuario.rol}">Rol</td>
      	<!--	
      							<td>
									  <a th:href="@{/ListaCapacitacion/editar/{id}(id=${capacitacion.id})}" class="btn btn-success" >Editar</a>
								</td>
      							<td>
									  <a th:href="@{/ListaCapacitacion/{id}(id=${capacitacion.id})}" class="btn btn-danger" >Eliminar</a>
								</td>
      							-->
    						</tr>
    						
  						</tbody>
					</table>

                </div>

            </div>
            <div class="volver d-flex justify-content-center mb-5 mt-5">
				<a class="mt-5" th:href="@{/}">Volver a página de inicio</a>
			</div>
          </section>

	
</body>
</html>
